<ion-content>
  <div class="main_content_div">
    <ion-slides mode="ios" pager="ios">
      <ion-slide>
        <div class="single_slide">
          <div class="image_box">
            <img src="../../../assets/imgs/logo.png" alt="">
          </div>
          <div class="content_div">
            <ion-label class="bold_lbl">Best Quality, Affordable</ion-label>
            <ion-label class="small_lbl">Best quality product with organic maintenance but with affordable price.
            </ion-label>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="single_slide">
          <div class="image_box">

          </div>
          <div class="content_div">
            <ion-label class="bold_lbl">Free Delivery Service</ion-label>
            <ion-label class="small_lbl">Free delivery service for New York City without minimum payment.</ion-label>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="btn_div">
      <ion-button expand="block" class="block_btn" mode="ios" (click)="goToLogin()">
        Next
      </ion-button>
    </div>

  </div>
</ion-content>
