
@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'regular';
  src: url(assets/fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'medium';
  src: url(assets/fonts/Rubik-Medium.ttf);
}

@font-face {
  font-family: 'semi-bold';
  src: url(assets/fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: 'bold';
  src: url(assets/fonts/Rubik-Bold.ttf);
}

* {
  font-family: 'regular';
}

ion-label {
  display: block;
}

.block_btn {
  margin: 0px;
  height: 50px;
  --border-radius: 8px;
  --background: var(--ion-color-app-orange);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: 'medium';
  width: 100%;
}

.bg_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product_box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  .image_box {
    width: 100%;
    height: 150px;
    background: var(--ion-color-app-grey);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    img {
      width: 90%;
    }

    .best_lbl {
      background: var(--ion-color-app-orange);
      width: fit-content;
      padding: 3px 6px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: white;
      font-family: 'medium';
      font-size: 14px;
    }
  }

  .detail_div {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    position: relative;

    .like_box {
      height: 26px;
      width: 26px;
      background: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: -12px;
      right: 8px;

      ion-icon {
        color: var(--ion-color-app-orange);
      }
    }

    .name_lbl {
      font-family: 'medium';
      margin-bottom: 8px;
    }

    .price_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .old_price {
        font-size: 12px;
        text-decoration: line-through;
      }

      .price_lbl {
        font-family: 'semi-bold';
        color: var(--ion-color-app-green);
        font-size: 15px;

        span {
          color: black;
          font-size: 13px;
        }
      }

      .save_lbl {
        background: var(--ion-color-app-green);
        color: white;
        font-family: 'medium';
        border-radius: 3px;
        font-size: 12px;
        white-space: nowrap;
        padding: 3px 4px;
      }
    }
  }
}
